body{
    font-family: 'Poppins', sans-serif;
     margin: 0px;
}
h1{
    font-size: 50px;
    color:black;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 2%;
    margin-left: 25px;
}
.half-width img{
    width: 80%;
    margin-left: 5px;
   
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700%;
    border-radius: 6px;
  
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.middle-banner img{
    width: 80%;
    
}
.image-margin{
    margin-left: 50px;
}
.middle-width{
    width: 50%;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.resume-link{
    color: white;
    background-image: linear-gradient(orange,tomato);
    text-decoration: none;
    font-weight: 700%;
    padding: 10px;
    border-radius: 6px;
}
